.main-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.create-theme{
    width: 100%;
    margin-top: 30px;
}

.create-theme-head{
    width: 100%;
    height: 40px;
    background-color: #667DCB;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.create-theme-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #AFAFAF;
}

.create-theme-input{
    font-family: 'Roboto-Light';
    width: 100%;
    height: 32px;
    font-size: 16px;
}

.create-theme-input-body{
    font-family: 'Roboto-Light';
    width: 100%;
    height: 200px;
    font-size: 16px;
    max-width: 100%;
    min-width: 100%;    
    max-height: 200px;
    min-height: 200px;    
}

.create-theme-form-button{
    font-family: 'Roboto-Regular';
    width: 30%;
    color: white;
    min-width: 110px;
    width: 20%;
    height: 32px;
    align-self: center;
    background: #7790EC;
    border: 1px solid #AFAFAF;
    margin-top: 20px;
    margin-bottom: 10px;
}

.create-theme-form-button:hover{
    background: #8798D4;
    cursor: pointer;
}

.create-theme-form-button:active{
    background: #5264A3;
}

.create-theme-login{
    display: flex;
    flex-direction: column;
}

.create-theme-input-p{
    font-family: 'Roboto-Light';
    margin-bottom: 7px;
}