.other{
    width: 100%;
    margin-top: 30px;
}

.other-head{
    width: 100%;
    height: 40px;
    background-color: #667DCB;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.other-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #AFAFAF;
}
.rule-name{
    margin-bottom: 10px;
}

.rule{
    margin: 7px 0px 7px 20px;
}