.register{
    width: 60%;
    margin-top: 30px;
}

.register-head{
    width: 100%;
    height: 40px;
    background-color: #667DCB;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.register-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 0 30px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #AFAFAF;
}

.main-content{
    display: flex;
    justify-content: center;
    flex-direction: row;    
}

.register-input{
    font-family: 'Roboto-Light';
    width: 100%;
    height: 32px;
    font-size: 16px;
}

.register-button{
    font-family: 'Roboto-Regular';
    width: 30%;
    color: white;
    min-width: 160px;
    height: 32px;
    align-self: center;
    background: #7790EC;
    border: 1px solid #AFAFAF;
}

.register-button:hover{
    background: #8798D4;
    cursor: pointer;
}

.register-button:active{
    background: #5264A3;
}

.form-register{
    display: flex;
    flex-direction: column;
}

.need-to-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.login-link{
    text-decoration: none;
    color: blue;
    margin-bottom: 20px;
}

.register-input-p{
    font-family: 'Roboto-Light';
    margin-bottom: 7px;
}

.register-error{
    font-family: 'Roboto-Light';
    color: red!important;
}